---
---

@import "{{ site.theme }}";

/* Hide all unecessary stuff */
#downloads {display: none}
.project-tagline {display: none}
html body section.page-header a.btn {display: none}
.site-footer-credits {display: none}
.site-footer-owner {display: none}

/* Make the theme less greenish and more compact */
.page-header {padding: 0; color: black; background-color: white; background-image: none}
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {color: black; padding: revert; margin: revert;}

// Special decorations for telegram links
a[href*="t.me/"]::before {
    content: url("../images/telegram_icon.svg");
    width: 1em;
    height: 1em;
    display: inline-block;
    margin-right: 0.1em;
    vertical-align: sub;
}